
service: youroldtweets

provider:
  name: aws
  runtime: python3.8
  timeout: 300

# you can overwrite defaults here
  stage: prod
  region: us-east-1

  environment:
    CONSUMER_KEY: ${ssm:youroldtweets_consumer_key}
    CONSUMER_SECRET: ${ssm:youroldtweets_consumer_secret}
    TOKEN: ${ssm:youroldtweets_token_key}
    TOKEN_SECRET: ${ssm:youroldtweets_token_secret}

functions:
  hello:
    handler: tweet.send_all_tweets

    events:
      - schedule:
          rate: cron(0 0 * * ? *)
          input:
            startswith: ["a"]
      - schedule:
          rate: cron(0 1 * * ? *)
          input:
            startswith: ["b"]
      - schedule:
          rate: cron(0 2 * * ? *)
          input:
            startswith: ["c"]
      - schedule:
          rate: cron(0 3 * * ? *)
          input:
            startswith: ["d"]
      - schedule:
          rate: cron(0 4 * * ? *)
          input:
            startswith: ["e"]
      - schedule:
          rate: cron(0 5 * * ? *)
          input:
            startswith: ["f"]
      - schedule:
          rate: cron(0 6 * * ? *)
          input:
            startswith: ["g"]
      - schedule:
          rate: cron(0 7 * * ? *)
          input:
            startswith: ["h"]
      - schedule:
          rate: cron(0 8 * * ? *)
          input:
            startswith: ["i"]
      - schedule:
          rate: cron(0 9 * * ? *)
          input:
            startswith: ["j"]
      - schedule:
          rate: cron(0 10 * * ? *)
          input:
            startswith: ["k"]
      - schedule:
          rate: cron(0 11 * * ? *)
          input:
            startswith: ["l"]
      - schedule:
          rate: cron(0 12 * * ? *)
          input:
            startswith: ["m"]
      - schedule:
          rate: cron(0 13 * * ? *)
          input:
            startswith: ["n"]
      - schedule:
          rate: cron(0 14 * * ? *)
          input:
            startswith: ["o"]
      - schedule:
          rate: cron(0 15 * * ? *)
          input:
            startswith: ["p"]
      - schedule:
          rate: cron(0 16 * * ? *)
          input:
            startswith: ["q"]
      - schedule:
          rate: cron(0 17 * * ? *)
          input:
            startswith: ["r"]
      - schedule:
          rate: cron(0 18 * * ? *)
          input:
            startswith: ["s"]
      - schedule:
          rate: cron(0 19 * * ? *)
          input:
            startswith: ["t"]
      - schedule:
          rate: cron(0 20 * * ? *)
          input:
            startswith: ["u"]
      - schedule:
          rate: cron(0 21 * * ? *)
          input:
            startswith: ["v"]
      - schedule:
          rate: cron(0 22 * * ? *)
          input:
            startswith: ["w", "_"]
      - schedule:
          rate: cron(0 23 * * ? *)
          input:
            startswith: ["x", "z"]
